# Maven
target/
*.jar
*.class

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Logs
*.log

# Bloop/Metals
.bsp/
.metals/

# Frontend
ui/node_modules/
ui/.next/
ui/.DS_Store
ui/.env*.local

# VSCode
.vscode/

# Brain
.gemini/
